body {
  margin: 0;
  padding: 0;
}


#you {
  background-color: blue;
}

#red {
  background-color: red;
}


#green {
  background-color: green;
}

.people {
  width: 15px;
  height: 15px;
  position: absolute;
  border-style: solid;
  border-color: black;
  z-index: 1;
}



#gamecontent {
  border-color: black;
  border-style: solid;
  height: 800px;
  width: 1300px;
  position: relative; /* <-- Add this */
  background-image: url("snowbg.png");
  background-size: cover;
}

#obstacle1 {
  width: 200px;
  height: 200px;
  top: 250px;
  left: 500px; 
}

#obstacle2 {
  width: 800px;
  height: 70px;
  top: 100px;
  left: 50px; 
}

.obstacles {
  position: absolute; /* <-- Add this */
  border-style: solid;
  border-width: 15px;
  z-index: 1;

}


#hidespot1 {
  width: 100px;
  height: 100px;
  top: 500px;
  left: 200px;
}



.hidespots {
position: absolute;
border-style: dashed;
border-width: 15px;
border-color: red;
z-index: 2;
}






#binoculars {
  width: 20px;
  height: 25px;
  top: 600px;
  left: 1000px;
}



.relics {
  position: absolute;
  background-color: aqua;
  border-width: 3px;
  border-style: solid;
  border-color: black;
  z-index: 1;
}

/*#sightlimit {
  position: absolute;
  background-image: url("Clear hole.png");
  width: 100px;
  height: 100px;
  background-size: cover;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}