body {
  margin: 0;
  padding: 0;
}


.people {
  width: 15px;
  height: 15px;
  position: absolute;
  border-style: solid;
  border-color: black;
  z-index: 1;
}



#gamecontent {
  border-color: black;
  border-style: solid;
  height: 800px;
  width: 1300px;
  position: relative; /* <-- Add this */
  background-size: cover;
}

#obstacle1 {
  width: 100px;
  height: 100px;
  top: 300px;
  left: 300px;
}

#obstacle2 {
  width: 100px;
  height: 100px;
  top: 100px;
  left: 700px;
}

#obstacle3 {
  width: 100px;
  height: 100px;
  top: 500px;
  left: 700px;
}


#obstacle4 {
  width: 100px;
  height: 100px;
  top: 200px;
  left: 10px;
}

#obstacle5 {
  width: 100px;
  height: 100px;
  top: 650px;
  left: 100px;
}

#obstacle6 {
  width: 400px;
  height: 100px;
  top: 310px;
  left: 630px;
}

#obstacle7 {
  width: 100px;
  height: 100px;
  top: 350px;
  left: 1000px;
}

#obstacle8 {
  width: 100px;
  height: 100px;
  top: 600px;
  left: 1100px;
}


.obstacles {
  position: absolute; /* <-- Add this */
  border-style: solid;
  border-width: 15px;
  z-index: 1;

}


#hidespot1 {
width: 100px;
height: 150px;
top: 400px;
left: 150px;
}


#hidespot2 {
  width: 220px;
  height: 50px;
  top: 100px;
  left: 900px;
}

#hidespot3 {
  width: 85px;
  height: 50px;
  top: 500px;
  left: 900px;
}


.hidespots {
position: absolute;
border-style: dashed;
border-width: 15px;
border-color: red;
z-index: 2;
}






#binoculars {

}



.relics {
  position: absolute;
  background-color: aqua;
  border-width: 3px;
  border-style: solid;
  border-color: black;
  z-index: 1;
}

/*#sightlimit {
  position: absolute;
  background-image: url("Clear hole.png");
  width: 100px;
  height: 100px;
  background-size: cover;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}