body {
  margin: 0;
  padding: 0;
}


.people {
  width: 15px;
  height: 15px;
  position: absolute;
  border-style: solid;
  border-color: black;
  z-index: 1;
}



#gamecontent {
  border-color: black;
  border-style: solid;
  height: 500px;
  width: 500px;
  position: relative; /* <-- Add this */
  background-size: cover;
}

#obstacle1 {
  width: 100px;
  height: 30px;
  top: 95px;
  left: 200px;
}

#obstacle2 {
  width: 30px;
  height: 100px;
  top: 230px;
  left: 400px;
}

.obstacles {
  position: absolute; /* <-- Add this */
  border-style: solid;
  border-width: 15px;
  z-index: 1;

}


#hidespot1 {
  height: 50px;
  width: 50px;
  top: 350px;
  left: 75px;
}



.hidespots {
position: absolute;
border-style: dashed;
border-width: 15px;
border-color: red;
z-index: 2;
}








.relics {
  position: absolute;
  background-color: aqua;
  border-width: 3px;
  border-style: solid;
  border-color: black;
  z-index: 1;
}

/*#sightlimit {
  position: absolute;
  background-image: url("Clear hole.png");
  width: 100px;
  height: 100px;
  background-size: cover;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}