body {
  margin: 0;
  padding: 0;
}


.people {
  width: 15px;
  height: 15px;
  position: absolute;
  border-style: solid;
  border-color: black;
  z-index: 1;
}



#gamecontent {
  border-color: black;
  border-style: solid;
  height: 800px;
  width: 1300px;
  position: relative; /* <-- Add this */
  background-size: cover;
  background-color: lime;
}

#obstacle1 {
  top: 100px;
  left: 300px;
  width: 100px;
  height: 60px;
  background-color: aqua;
}

#obstacle2 {
height: 230px;
width: 90px;
top: 150px;
left: 750px;
}

#obstacle3 {
height: 130px;
width: 180px;
top: 350px;
left: 710px;
background-color: aqua;
}

#obstacle4 {
height: 230px;
width: 90px;
top: 400px;
left: 200px;
}


.obstacles {
  position: absolute; /* <-- Add this */
  border-style: solid;
  border-width: 15px;
  z-index: 1;

}


#hidespot1 {
  width: 50px;
  height: 100px;
  top: 50px;
  left: 60px;
}

#hidespot2 {
  width: 65px;
  height: 65px;
  top: 350px;
  left: 1100px;
}

#hidespot3 {
  width: 50px;
  height: 100px;
  top: 600px;
  left: 1200px;
}

#hidespot4 {
  width: 65px;
  height: 65px;
  top: 590px;
  left: 400px;
}

.hidespots {
position: absolute;
border-style: dashed;
border-width: 15px;
border-color: red;
z-index: 2;
}






#binoculars {
  width: 20px;
  height: 25px;
  top: 520px;
  left: 800px;
}



.relics {
  position: absolute;
  background-color: aqua;
  border-width: 3px;
  border-style: solid;
  border-color: black;
  z-index: 1;
}

/*#sightlimit {
  position: absolute;
  background-image: url("Clear hole.png");
  width: 100px;
  height: 100px;
  background-size: cover;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}